.favorite-question {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.favorite-question__icon i {
  font-size: 2rem;
  color: #BA8E23;
}

.favorite-question__text {
  text-align: left;
}