.favorite-question__list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-size: 1.25rem;
  text-align: left;
}

.favorite-question__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.favorite-question__button {
  background: transparent;
  border: none;
}

.favorite-question__button i {
  font-size: 2rem;
  color: #FFF;
}