.contact {
  text-align: center;
}

.contact__heading {
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.contact__text {
  font-size: 1.25rem;
  line-height: 1.5;
}

.contact p:first-child {
  padding-bottom: 1rem;
}

.contact__link {
  color: #FFF;
}