.header {
  background-color: #457B9D;
}

.main-nav {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 80px;
  max-width: 90%;
  margin: 0 auto;
}

.main-nav__brand {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.main-nav__toggle {
  z-index: 20;
  background: transparent;
  border: none;
}

.main-nav__toggle i {
  font-size: 2rem;
}