.header {
  background-color: #457B9D;
}

.nav {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
  position: relative;
}

.nav__title {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.nav__toggle {
  z-index: 20;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav__toggle i {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
}

body.no-scroll {
  overflow: hidden;
}