.favorite-questions-list__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style: none;
  font-size: 1.25rem;
  text-align: left;
}

.favorite-questions-list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.favorite-questions-list__button {
  background: transparent;
  border: none;
}

.deleted-questions__button i {
  color: #FFF;
  font-size: 1.5rem;
}

.favorite-questions-list__button i {
  color: #FFF;
  font-size: 1.5rem;
}

.favorite-questions-list__empty {
  text-align: center;
  color: #D3D3D3;
  font-style: italic;
}