.question-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.question-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 50%;
}

.question-card__button i {
  font-size: 2.5rem;
}

.question-card__button--dislike {
  color: #950606;
  background-color: #FF474C;
}

.question-card__button--like {
  color: #06402B;
  background-color: #90EE90;
}

.custom-progress-bar {
  max-width: 100%;
  background-color: #D3D3D3;
  border-radius: 15px;
  height: 16px;
  margin: 1rem 0;
  overflow: hidden;
  border: none;
}

.custom-progress-bar__fill {
  height: 100%;
  background-color: #008000;
  transition: width 0.3s ease;
  border-radius: 15px;
}