.question-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.question-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 50%;
}

.question-card__button i {
  font-size: 2.5rem;
}

.question-card__button--dislike {
  color: #950606;
  background-color: #FF474C;
}

.question-card__button--like {
  color: #06402B;
  background-color: #90EE90;
}

.question-card__button--save {
  color: #BA8E23;
  background-color: #FFFFC5;
}

.question-card__button.active i {
  color: #4CAF50; 
}

.question-card__button--dislike.active i {
  color: #f44336; 
}

.question-card__button--save.active i {
  color: #ffb700;
}


.custom-progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  height: 10px;
  margin: 1rem 0;
  overflow: hidden;
}

.custom-progress-bar__fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.progress-text {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
}
