.spin-bottle {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.spin-bottle__image {
  max-width: 120px;
  margin: 0 auto;
  transition: transform 2s ease-out;
  transform-origin: center center;
}

.spin-bottle__buttons {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: 1fr 1fr;
}

.spin-bottle__spin {
  display: grid;
  grid-template-columns: 1fr;
}

.spin-bottle__dare {
  padding: 1rem;
  background-color: rgb(177, 206, 220);
  border: 2px dashed rgb(243, 240, 240);
  margin-top: 20px;
  font-weight: bold;
  color: rgb(221, 45, 45);
}
