@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #FFF;
  background-color: #1D3557;
  text-align: center;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

i {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

.btn {
  padding: 1.25rem;
  border: none;
  border-radius: 8px;
  color: #000;
  background-color: #E63946;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.disabled {
  color: #A9A9A9;
  background-color: #D3D3D3;
  pointer-events: none;  
  opacity: 1;
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
  }

  .lbl {
    cursor: pointer;
  }
}