.question-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.question-card__content {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 80vw;
  max-width: 300px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #A8DADC;
  border-radius: 10px;
}

.question-card__content p {
  color: #000;
  font-size: 1.5rem;
}

.question-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.question-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 50%;
}

.question-card__button i {
  font-size: 2.5rem;
}

.question-card__button--dislike {
  color: #950606;
  background-color: #FF474C;
}

.question-card__button--like {
  color: #06402B;
  background-color: #90EE90;
}

.question-card__button--save {
  color: #BA8E23;
  background-color: #FFFFC5;
}

.question-card__button.active i {
  color: #4CAF50; 
}

.question-card__button--dislike.active i {
  color: #f44336; 
}

.question-card__button--save.active i {
  color: #ffb700;
}