.question-card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  margin: 0 0.625rem;
  padding: 0 0.625rem;
  background-color: #A8DADC;
  border-radius: 10px;
}

.question-card__content p {
  color: #000;
  font-size: 1.5rem;
}